{% extends 'products/index.html' %}
{% block content %}
<!-- # /***************************************************************************************
# *    Title: <Chat tutorial>
# *    Author: <9cv9 official>
# *    Date: <21 september 2018>
# *    Code version: <html>
# *    Availability: <https://medium.com/@9cv9official/simple-chat-app-using-django-channel-ed5032b79b9c/>
# *   Edited by:
# ***************************************************************************************/ --> 
<div class="row">
	<div class="col-md-12">
		<div id='chat-messages'>

		</div>
	</div>
</div>
{% endblock %}
